/* default code */

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

.hr-style{
    width: 10%;
    margin: 0 auto;
    border: dotted 5px #3498db;
    border-bottom: none;
    margin-bottom: 15px;
}



.container{
    max-width: 1200px;
    margin: auto;
   
}

/* header starts here */
header{
    background: #3498db;
    padding: 10px 0;
}

.header-title{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
nav{
    margin-top: 10px;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: block;
}
nav ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 30px;
    transition: .5s;
}
nav ul li a:hover{
    background: #2980b9;
    text-decoration: underline;
}

/* header ends here */


/* banner section starts here  */
#banner-section{
    padding: 150px 0;
    background-image: url(https://www.cgf-llc.com/images/rotators/it-support-asset-management.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    /* height: 100vh; */
}
.banner-title{
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 2.5rem;
    color: white;
}
.banner-desc{
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}
/* banner section ends here  */

/* service section starts here  */
section#services {
    background: #efefef;
    padding: 10px 0;
}

h2.section-title{
    text-align: center;
    margin-bottom: 10px;

}
.column {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#services::after {
    content: '';
    clear: both;
    display: table;
}


.icon-style {
    color: #2980b9;
    border: 5px solid white;
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 5px;
}

h3.service-title {
    margin-bottom: 5px;
}

p.service-desc {
    opacity: 0.9;
    font-size: 0.8rem;
}
/* service section ends here  */


/* recent work starts here  */
#recent-work{
    padding: 10px 0;
}
#recent-work .flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;   
}

.flex-container > .card{   
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
    flex: 100%;
    margin-bottom: 10px; 
    
}

.card-body{
    padding: 5px;
    text-align: center;
}
.card-title{
    font-size: 1rem;
   
}
.card-text{
    font-size: 0.8rem;
    margin-top: 5px;
}
.card:hover{
    box-shadow: 3px 6px 10px black;
}
/* recent work ends here  */


/* client section starts here */
#clients{
    padding: 10px 0;
    background: #efefef;
    text-align: center;
}
#clients .grid-container{

    display: grid;
    grid-template-columns: auto auto;
}
#clients .grid-container > div{
    margin: 5px;
    text-align: center;
    padding: 5px;
    /* border: 2px solid white;    */
    transition: .4s;
}
#clients .grid-container > div:hover{
    transform: scale(1.5);
}
#clients .cliet-logo{
    width: 50px;
    height: 50px;
    line-height: 100px;
}
/* client section ends here */


/*contact section starts here */
section#contact{
    padding: 10px;
}

div.contact-container{
    width: 90%;
    margin: auto;
    background: #2980b9;
    border-radius: 10px;
    padding: 10px;
    color: white;
    
}
form div{
    margin-bottom: 10px;
    box-sizing: border-box;
}

form .left{
    width: 20%;
    float: left;
    text-align: left;
}
form .right{
    width: 80%;
    float: left;
    text-align: left;
    padding-left: 5px;
    position: relative;
}

form div::after{
    clear: both;
    content: '';
    display: table;
}

input,textarea{
    width: 80%;
    padding: 3px;
    padding-left: 20px;
    border-radius: 5px;
    transition: width .4s ease-in-out;
}
input:focus, textarea:focus{
    width: 90%;   
}
textarea{
    resize: none;
}

.input-icon{
    color: black;
    position: absolute;
    left: 10px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
 
button.contact-button{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background: #34495e;
    color: white;
}
button.contact-button::before{
   content: '';
   height: 100%;
   width: 0;
   position: absolute;
   top: 0;
   left: 0;
   background: #000;  
   border: none;
   border-radius: 5px;
   transition: .5s;
   z-index: -1;
}

button.contact-button:hover::before{
    width: 100%;
    
}

section#contact::after{
    content: '';
    clear: both;
    display: table;
}

footer{
    background: #34495e;
    color: white;
    padding: 10px 0;
    font-size: 0.8rem;
}
footer .column{
    width: 100%;
}
footer .column a {
    display: block;
    color: white;
    /* font-size: .8rem; */
    margin: 10px 0;
    text-decoration: none;
}
footer .column a:hover {
    color: grey;
}
footer::after{
    content: '';
    clear: both;
    display: table;
}

/*contact section ends here */


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
   
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        font-size: 0.9rem;
    }
    .column {        
        width: 50%;       
    }
    .flex-container > .card{   
        flex: 45%;
        margin: 5px; 
    }
    #clients .grid-container{
        grid-template-columns: auto auto auto;
    }
    div.contact-container{
        width: 80%;   
    }

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      
    nav ul li a{
        font-size: 1rem;
    }
    .column {        
        width: 25%;       
    }
    .flex-container > .card{   
        flex: 23%;
        margin: 5px; 
    }
    #clients .grid-container{
        grid-template-columns: auto auto auto auto;
    }
    div.contact-container{
        width: 50%;   
    }

    footer{        
        font-size: 0.8rem;
    }
    footer .column{
        width: 50%;
    }
    footer .column a {
        display: inline-block;
        margin: 10px;
    }
    .footer-desc p {
        margin-top: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)  */
/* @media only screen and (min-width: 1200px) {
      .container{
        background: yellow;
    }
} */